@using dbs.blog.DTOs 

@{
    var posts = ViewBag.Posts != null ? ViewBag.Posts as List<PostListItemDTO> : new List<PostListItemDTO>();
    var totalPages = (int)ViewBag.TotalPages;
    var totalPosts = (int)ViewBag.TotalPosts;
}

<!-- start of main -->
<main class="bg-dark relative z-10 pt-[92px] lg:pt-[106px] min-h-[82vh] overflow-hidden">

    <!-- ================= start of page-header ================= -->
    <section class="banner bg-white">
        <div class="pt-20 pb-24 page-banner bg-dark rounded-b-2xl relative z-10">
            <div class="container">
                <div class="row items-end" data-aos="fade">
                    <div class="sm:col-8 text-center sm:text-left">
                        <h1 class="text-[2.5rem] leading-[3rem] sm:leading-9 md:text-5xl font-secondary font-medium -mt-[6px] text-center sm:text-left mb-6 sm:mb-8">My weekly thoughts</h1>
                        <nav aria-label="breadcrumb">
                            <ul class="flex items-center justify-center sm:justify-start [&>*:last-child]:pointer-events-none">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-3" style="transform:rotateY(180deg)">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"></path>
                                        <path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5"></path>
                                        <path d="M16 19h6"></path>
                                        <path d="M19 16l3 3l-3 3"></path>
                                    </svg>
                                </li>
                                <li>
                                    <a class="link" asp-action="Index" asp-controller="Home">Home</a>
                                </li>
                                <li><span class="px-4">•</span></li>
                                <li>
                                    <a class="link" asp-action="Index" asp-controller="Blog">Blog</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="sm:col-4 block mt-6 sm:mt-0 text-center sm:text-right">
                        <span class="font-secondary text-2xl leading-none text-white/75">Blog (@ViewBag.totalPosts)</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================= end of page-header ================= -->


    <section class="py-28 bg-white text-dark rounded-b-2xl">
        <div class="container">
            <!-- Blog Posts -->
            <div id="posts" class="row md:gx-4 gy-5">
                @foreach (var post in posts!)
                {
                    <div class="lg:col-4 sm:col-6 init-delay" data-aos="fade-up-sm" data-aos-duration="500" style="--lg-delay:0ms;--md-delay:0ms;--sm-delay:0ms">
                        <article class="relative group text-center">
                            <div class="relative overflow-hidden rounded-lg mb-8">
                                <!-- Blog Post Image -->
                                <img alt="@post.Title" loading="lazy" width="620" height="500" class="duration-700 group-hover:scale-110 group-hover:-rotate-1 object-cover w-full rounded-lg group-hover:brightness-75 bg-light/20" src="@post.MainImageUrl" />
                            </div>
                            <div class="px-2 sm:px-6 transition-all duration-500 group-hover:opacity-60">
                                <!-- Blog Post Tags and Date -->
                                <div class="flex flex-wrap items-center justify-center mb-4 space-x-5">
                                    <span class="inline-block text-sm rounded-full bg-[#efefef] px-3 py-1 capitalize">@post.Categories</span>
                                    <span class="opacity-75 text-sm">@post.Date.ToString("dd MMM yyyy")</span>
                                </div>
                                <!-- Blog Post Title -->
                                <h3 class="text-xl md:text-2xl leading-tight">
                                    <a class="stretched-link" href="@Url.Action("Post", "Blog")/@post.Url">@post.Title</a>
                                </h3>
                            </div>
                        </article>
                    </div>
                }
            </div>
            @if (totalPages > 1)
            {
                <div id="load-more-container" class="text-center mt-16">
                    <button class="button button-dark" id="load-more-posts">
                        <span>Load More</span>
                    </button>
                </div>
            }
        </div>
    </section>

</main>
<!-- end of main -->

@section Scripts {
    <script>
        let currentPage = 1;
        const loadMoreBtn = document.getElementById('load-more-posts');
        const postsContainer = document.getElementById('posts');

        const hideButton = () => {
            var loadMoreContainer = document.getElementById('load-more-container');
            loadMoreContainer.style.display = 'none';
            return;
        }

        loadMoreBtn.addEventListener('click', async () => {
            currentPage++;

            const response = await fetch(`@Url.Action("LoadPosts", "Blog")?page=${currentPage}`);
            if (!response.ok) return;

            const loadPostsResponse = await response.json();

            if (!loadPostsResponse.success || (!loadPostsResponse.posts || loadPostsResponse.posts.length === 0)) {
                hideButton();
            }

            const posts = loadPostsResponse.posts;

            posts.forEach(post => {
                const postHtml = `
                    <div class="lg:col-4 sm:col-6 init-delay" data-aos="fade-up-sm" data-aos-duration="500">
                        <article class="relative group text-center">
                            <div class="relative overflow-hidden rounded-lg mb-8">
                                <img
                                    alt="${post.title}"
                                    loading="lazy"
                                    width="620"
                                    height="500"
                                    class="duration-700 group-hover:scale-110 group-hover:-rotate-1 object-cover w-full rounded-lg group-hover:brightness-75 bg-light/20"
                                    src="${post.mainImageUrl}" />
                            </div>
                            <div class="px-2 sm:px-6 transition-all duration-500 group-hover:opacity-60">
                                <div class="flex flex-wrap items-center justify-center mb-4 space-x-5">
                                    <span class="inline-block text-sm rounded-full bg-[#efefef] px-3 py-1 capitalize">
                                        ${post.categories}
                                    </span>
                                    <span class="opacity-75 text-sm">
                                        ${new Date(post.date).toLocaleDateString('en-US', {
                                            day: '2-digit',
                                            month: 'short',
                                            year: 'numeric'
                                        })}
                                    </span>
                                </div>
                                <h3 class="text-xl md:text-2xl leading-tight">
                                    <a class="stretched-link" href="/Blog/Post/${post.url}">
                                        ${post.title}
                                    </a>
                                </h3>
                            </div>
                        </article>
                    </div>
                `;

                postsContainer.insertAdjacentHTML('beforeend', postHtml);

                if (currentPage >= @totalPages) {
                    hideButton();
                }
            });

            if (window.AOS) {
                AOS.refresh();
            }
        });
    </script>
}
