@using dbs.blog.DTOs

@model PostDTO

@{
    ViewBag.Title = Model.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/styles/editor.css">

    <style>
        .tags {
            display: flex;
            justify-content: end;
            padding: 1rem 0 0 0;
        }

        .status-badge {
            background: #ccc;
            padding: 0 1rem;
            border-radius: 15px;
            font-size: 1rem;
            color: #555;
        }
    </style>
}

<!-- start of main -->
<main class="bg-dark relative z-10 pt-[92px] lg:pt-[106px] min-h-[82vh] overflow-hidden">

    <!-- ================= start of page-header ================= -->
    <section class="banner bg-white">
        <div class="pt-20 pb-24 page-banner bg-dark rounded-b-2xl relative z-10">
            <div class="container">
                <div class="row items-end" data-aos="fade">
                    <div class="sm:col-8 text-center sm:text-left">
                        <h1 class="text-[2.5rem] leading-[3rem] sm:leading-9 md:text-5xl font-secondary font-medium -mt-[6px] text-center sm:text-left mb-6 sm:mb-8">My weekly thoughts</h1>
                        <nav aria-label="breadcrumb">
                            <ul class="flex items-center justify-center sm:justify-start [&>*:last-child]:pointer-events-none">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-3" style="transform:rotateY(180deg)">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2"></path>
                                        <path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5"></path>
                                        <path d="M16 19h6"></path>
                                        <path d="M19 16l3 3l-3 3"></path>
                                    </svg>
                                </li>
                                <li>
                                    <a class="link" asp-action="Index" asp-controller="Home">Home</a>
                                </li>
                                <li><span class="px-4">•</span></li>
                                <li>
                                    <a class="link" asp-action="Index" asp-controller="Blog">Blog</a>
                                </li>
                                <li><span class="px-4">•</span></li>
                                <li>
                                    <a class="link" asp-action="Post" asp-controller="Blog" asp-route-url="@Model.UrlSlug">@Model.Title</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="sm:col-4 block mt-6 sm:mt-0 text-center sm:text-right">
                        <span class="font-secondary text-2xl leading-none text-white/75">@(string.Join(", ", Model.Categories))</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================= end of page-header ================= -->


    <section class="bg-white text-dark rounded-b-2xl">
        <div class="container">
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <span class="status-badge" style="text-transform: capitalize; margin: 0 5px;">@tag</span>
                }
            </div>

            <div class="tiptap-content" id="tiptapEditor">
                <article data-pageview="post" data-post-id="@Model.Id">
                    <div contenteditable="false" translate="no" class="tiptap ProseMirror">
                        @Html.Raw(Model.Content)
                    </div>
                </article>
            </div>
        </div>
    </section>

</main>
<!-- end of main -->

@section Scripts {
    <script src="~/scripts/pageview-beacon.js"></script>
}  